@font-face {
    font-family: "Tektur";
    src: url('../fonts/Tektur-VariableFont_wdth\,wght.ttf');
}

* {
    font-family: "Tektur", sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background-color: #040F16;
    color: #fff;
}

li {
    list-style: none;
}

.text-center {
    text-align: center;
}
.left_header {
    margin: 0px 280px 70px;
}
.white_header {
    font-weight: 400;
    font-size: 60px;
    margin-top: 50px;
}


.purple_header {
    color: #471FFF;
    text-shadow: 5px 1px 20px #2E00FD;
    font-weight: 500;
    font-size: 50px;
    letter-spacing: 3px;

    width: 1100px;
    margin-bottom: 40px;
}
.blue-red_border {
    background: linear-gradient(to bottom, #2E00FD, #EE014B);
    border-radius: 4px;
    padding: 5px;
}


.text_default {
    /* margin-top: 40px; */
    margin-bottom: 50px;

    font-size: 30px;
    line-height: 46px;
    letter-spacing: 2px;
}




/* HEADER */

a {
    text-decoration: none;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 30px;
    font-weight: 500;
    border-bottom: 5px solid #EE014B;
    border-image: linear-gradient(to right, #EE014B 53%, #2E00FD 100%);
    border-image-slice: 1;
}

#logo {
    margin-left: 7%;
    width: 213px;
    height: 100px;
}
header nav {
    display: flex;
    column-gap: 75px;
    margin-right: 60px;
}
.nav_link {
    background: #fff;
    background-clip: text;
    /* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */

    transition: all 0.5s;
}
.active_nav {
    background: linear-gradient(90deg, #EE014B, #EA2DFC);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.nav_link:hover {
    background-image: linear-gradient(90deg, #EE014B, #EA2DFC);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}







/* MAIN */

.main_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 978px;
    padding: 0 20px;
    /* background-image: linear-gradient(rgba(4, 15, 22, 1) 7%, rgba(4, 15, 22, 0) 63%, rgba(4, 15, 22, 1) 100%), url('/web/img/slider_1.jpg'); */
    background-image: url("/web/img/slider1_group.jpg");
}
.main_block img {
    width: 38px;
    height: 99px;
    position: relative;
    top: -40px;
}
.main_header {
    position: relative;
    /* top: -140px; */
    top: -15%;
    margin-right: 25%;
}
#main_header {
    font-size: 120px;
    font-weight: 500;
    letter-spacing: 3px;
}
#main_header2 {
    font-size: 50px;
    font-weight: 400;
    background-color: #EE014B;
    border-radius: 2px;
    padding: 0 11px;
}


.slogan_block {
    border-top: 12px solid #EE014B;
    border-bottom: 12px solid #EE014B;
    border-image: linear-gradient(to right, #88012B 0%, #EE014B 50%, #88012B 100%);
    border-image-slice: 1;

    display: flex;
    justify-content: center;
    text-align: center;

    padding-bottom: 15px;
}

.slogan_text {
    font-weight: 500;
    font-size: 60px;

    width: 1500px;
}

.slogan_h {
    color: #EE014B;
    font-size: 87px;
}

.slogan_dash {
    font-size: 87px;
}

.info_block {
    display: flex;
    margin: 100px 150px;
    column-gap: 150px;
}

#info_img {
    width: 429px;
    height: 643px;
    margin-top: 10px;
}

.info_text p {
    width: 960px;
}

.advantages_block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    row-gap: 80px;
    margin: 200px 0 250px;
}
.advantage {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;

    transition: 0.2s;
}
.advantage::before {
    content: "";

    /* display: none; */
    opacity: 0;

    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #2E00FD;
    position: absolute;
    filter: blur(40px);
    z-index: -1;

    transition: 0.2s;
}
.advantage:hover {
    transform: scale(1.15);
    text-shadow: 3px 3px 5px #9D9D9D;
}
.advantage:hover::before {
    /* display: inline; */
    opacity: 1;
}

.advantage img {
    width: 106px;
    height: 106px;
}

.advantage p {
    font-size: 25px;
    line-height: 46px;
    letter-spacing: 2px;
    
    width: 400px;
}



.clubs_list {
    display: flex;
    justify-content: center;
    column-gap: 90px;
    flex-wrap: wrap;
}
.club_card {
    width: 465px;
    height: 552px;
    border: 10px solid transparent;
    background: linear-gradient(#040F16, #040F16 0) padding-box, linear-gradient(45deg, #2E00FD, #EE014B) border-box;
    border-radius: 6px;
    text-align: center;
    margin-bottom: 100px;
    transition: 0.15s;
}
.club_card:hover,
.clubs_card:hover {
    transform: scale(1.1);
    /* box-shadow: -10px 10px 40px 8px #2E00FD, 10px -10px 40px 8px #EE014B; */
    box-shadow: 0 0 40px 15px #B528F6;

}
.club_card img {
    border-bottom: 5px solid #FBFBFF;
}
.club_name {
    font-weight: 400;
    font-size: 32px;
}
.club_address {
    font-size: 22px;
}
.club_pcs_number {
    margin-top: 30px;
    margin-bottom: 30px;

    font-size: 30px;
    font-weight: 600;
    color: #EE014B;
}
.club_link {
    /* width: 200px;
    height: 60px; */
    box-sizing: border-box;
    padding: 12px 21px;
    border-radius: 6px;
    font-size: 28px;
    font-weight: 500;
    background: linear-gradient(45deg, #2E00FD 14%, #EE014B);
    transition: 0.15s;
}

.club_link:hover {
    /* border: 3px solid transparent; */
    /* background: linear-gradient(#040F16, #040F16 0) padding-box, linear-gradient(45deg, #EE014B 0%, #2E00FD 86%) border-box; */

    border: 3px solid #93009A;
    background: linear-gradient(45deg, #EE014B 0%, #2E00FD 86%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.all_clubs_link {
    font-weight: 600;
    font-size: 28px;
    padding: 13px 21px;
    background: linear-gradient(45deg, #EE014B, #ED0764 50%, #EA2DFC);
    /* background-color: #EE014B; */
    border-radius: 6px;
    transition: 0.2s;
}
.all_clubs_link:hover {
    border: 3px solid #EE014B;
    background: linear-gradient(90deg, #EE014B, #EA2DFC);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    /* border: 3px solid #EE014B;
    background: transparent;
    color: #EE014B; */
}






/* AUTH */


.auth_container {
    height: 1080px;
    background: no-repeat linear-gradient(to bottom, rgb(5, 15, 22, 1) 13%, rgba(0, 0, 0, 0) 63%, rgba(4, 15, 22, 1) 100%),
    url("../img/auth_background.jpg");
    /* background: url("../img/auth_background.jpg"); */
}
.auth_container main {
    display: flex;
    justify-content: center;
}
.auth {
    background: rgba(69, 69, 69, 53%);
    border-radius: 5px;

    margin-top: 130px;
    padding: 45px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.auth form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth_header {
    margin-bottom: 75px;

    font-weight: 600;
    font-size: 51px;
    color: #EE014B;
}

.auth_input {
    box-sizing: border-box;
    width: 344px;
    height: 51px;
    margin-bottom: 50px;

    background-color: #FBFBFF;
    border-radius: 7px;
    border: none;
    font-size: 26px;
    font-weight: 500;
    padding-left: 24px;
    transition: 0.1s;
}
.auth_input:focus {
    border: 2px solid #EE014B;
}

.remember_me {
    display: flex;
    column-gap: 18px;
}

#remember_me_check {
    accent-color: white;
    width: 32px;
    height: 32px;
}

#remember_me_text {
    font-size: 26px;
    font-weight: 500;
}

.auth_button {
    margin-top: 60px;
    width: 137px;
    height: 56px;
    color: #FBFBFF;
    background: linear-gradient(45deg, #EE014B, #ED0764 60%, #EA2DFC);
    font-size: 27px;
    font-weight: 600;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.15s;
}
.auth_button:hover {
    background: transparent;
    color: #EE014B;
    border: 3px solid #EE014B;
}
#register_button {
    width: 344px;
    margin-top: 10px;
}






/* ABOUT */

.about {
    margin: 50px 150px;
}
.about_block {
    display: flex;
    column-gap: 250px;
    margin-top: 50px;
    margin-bottom: 150px;
}
.about_block_text {
    width: 800px;
}
.about_block img {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}
#about_img_1 {
    width: 390px;
    height: 585px;
}
#about_img_2 {
    width: 390px;
    height: 512px;
}
.questions {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    margin-top: 50px;
    padding: 0 14px;
}
.question {
    max-width: 1166px;
    width: 100%;
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    border: 3px solid transparent;
    background: linear-gradient(#040F16, #040F16 0) padding-box, linear-gradient(to right, #88012B 0%, #2E00FD 35%, #88012B 100%) border-box;
    border-radius: 3px;
    /* padding: 0 23px; */
    cursor: pointer;
    overflow: hidden;
}
.question * {
    z-index: 1;
}
.question::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;


    background: linear-gradient(to right, #4F0723 0%, #1A088A 35%, #4F0723 100%) padding-box, linear-gradient(to right, #88012B 0%, #2E00FD 35%, #88012B 100%) border-box;
    opacity: 0;
    
    transition: 0.2s;
}
.question:hover::before {
    opacity: 1;
}
.question p {
    font-weight: 500;
    font-size: 31px;
    letter-spacing: 1px;
    margin-left: 25px;
}
.question img {
    margin-right: 25px;
    margin-left: 10px;
}










/* BOOKING */


.booking_container {
    display: flex;
    justify-content: center;
}
.booking_form {    
    display: flex;
    flex-direction: column;
    width: 760px;
    row-gap: 10px;
}
.booking_input {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}
.booking_input select, .booking_input input {
    box-sizing: border-box;
    height: 66px;
    background-color: transparent;
    border: 3px solid #3A19FF;
    border-radius: 3px;
    color: #fff;
    font-size: 26px;
    padding: 0 18px;
    cursor: pointer;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.booking_select::after {
    content: '';
    background-image: url('/web/img/arrow.svg');
    width: 42px;
    height: 18px;
    position: relative;
    left: 92%;
    bottom: 48px;
    z-index: -1;
}

#time_input_div:after {
    content: '';
    background-image: url('/web/img/arrow.svg');
    width: 42px;
    height: 18px;
    position: relative;
    left: 84%;
    bottom: 50px;
    z-index: -1;
}

#date_input::-webkit-calendar-picker-indicator {
    /* display: none !important; */
    background: url('/web/img/calendar.svg');
    background-size: cover;
    cursor: pointer;
    height: 40px;
    width: 40px;
}

.booking_form option {
    background-color: #1E00A5;
}
.booking_form label {
    font-size: 30px;
}
.date_time {
    display: flex;
    justify-content: space-between;
}
.datetime_input {
    width: 374px;
}
.booking_button {
    font-size: 30px;
    font-weight: 500;
    margin-top: 60px;
    width: 305px;
    height: 80px;
    background: linear-gradient(to right, #1B0097 0%, #2E00FD 50%, #1B0097 100%);
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    align-self: center;
    position: relative;
    z-index: 1;

    transition: 0.5s;
}
.booking_button:hover {
    background: transparent;
    color: #2E00FD;
    border: 4px solid #2E00FD;
}







/* CLUBS */

.club_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    row-gap: 95px;
    margin-top: 70px;
    padding: 0 60px;
}
.clubs_card {
    width: 504px;
    height: 860px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border: 10px solid transparent;
    background: linear-gradient(#040F16, #040F16 0) padding-box, linear-gradient(45deg, #2E00FD, #EE014B) border-box;
    border-radius: 6px;
    text-align: center;
    padding-bottom: 30px;

    transition: 0.15s;
}

.clubs_card img {
    border-bottom: 6px solid #FBFBFF;
}
.clubs_card h2 {
    margin-top: 6px;
    font-size: 36px;
    font-weight: 400;
}
.clubs_zones {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.clubs_zones p {
    font-size: 34px;
    font-weight: 500;
    margin: 46px 0 20px;
}
.clubs_zone {
    display: flex;
    justify-content: space-between;
    font-size: 28px;
    font-weight: 500;
    margin-top: 10px;
    width: 320px;
}
.clubs_card a {
    padding: 16px 42px;
}




/* FOOTER */

footer {
    border-top: 6px solid #2E00FD;
    padding-top: 20px;
    margin-top: 300px;
}
.contacts {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 130px;

    font-size: 30px;
    letter-spacing: 2px;
}
.contact {
    display: flex;
    column-gap: 20px;
    align-items: center;
}
.year_and_company {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 100px;
    margin-top: 40px;

    font-size: 28px;
}






.info_block-phone{
    display: none;
}



@media (max-width: 375px) {

    
    .question img {
        width: 18px;
        height: 18px;
        margin-right: 8px;
    }
    .question p {
        margin-left: 8px;
    }
    .white_header {
        font-size: 50px;
    }

}



@media (max-width: 509px) {

    .club_card, .club_card img {
        width: 335px;
    }
    .club_card {
        height: 484px;
        border-width: 8px;
    }
    .club_name {
        font-size: 29px;
    }
    .club_address {
        font-size: 20px;
    }
    .club_pcs_number {
        margin-top: 60px;
        font-size: 26px;
    }
    .club_link, .all_clubs_link {
        font-size: 24px;
    }




    
    .contact img {
        width: 56px;
        height: 56px;
    }
    .contact {
        font-size: 21px;
        column-gap: 12px;
    }
    .year_and_company {
        font-size: 24px;
    }
}



@media (max-width: 720px) {
    .main_block {
        padding: 0 10px;
    }
    .main_block img {
        display: none;
    }
    
    
    .main_header {
        margin: 0;
    }

    #main_header {
        font-size: 53px;
    }

    #main_header2 {
        font-size: 32px;
    }



    .slogan_block {
        text-align: left;
        padding: 0 12px;
    }
    .slogan_h {
        font-size: 58px;
    }
    .slogan_text, .slogan_dash {
        font-size: 25px;
        width: auto;
    }


    
    .info_block {
        display: none;
    }
    .info_block-phone{
        display: flex;
        flex-direction: column;
        margin-top: 70px;
        padding: 0 12px;
    }
    .purple_header {
        font-size: 30px;
        width: auto;
    }
    .info_block-phone img {
        width: 351px;
        align-self: center;
        margin-bottom: 50px;
    }
    .text_default {
        font-size: 23px;
        line-height: 35px;
    }
    .advantages_block {
        margin: 100px 0 150px;
        padding: 0 12px;
    }
    .advantage p {
        font-size: 23px;
        width: auto;
    }



    .left_header {
        text-align: center;
        margin: 0;
        font-size: 45px;
    }
    .clubs_list {
        margin-top: 75px;
    }

    


    .contacts {
        justify-content: flex-start;
        row-gap: 20px;
        padding: 0 10px;
    }



    /* ABOUT */
    .about {
        margin: 50px 0;
        padding: 0 12px;
    }
    .about_block {
        /* flex-wrap: wrap; */
        flex-direction: column;
    }
    .about_block_2 {
        flex-direction: column-reverse;
    }
    .about_block img {
        align-self: center;
    }
    #about_img_1 {
        max-width: 390px;
        max-height: 585px;
        width: 100%;
        height: 100%;
    }
    #about_img_2 {
        max-width: 390px;
        max-height: 512px;
        width: 100%;
        height: 100%;
    }
    .about_block_text {
        width: auto;
    }
    .question p {
        font-size: 23px;
    }
}